@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    /*height: 100vh;*/
    /*background-color: #fbd434;*/
    font-family: "Noto Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
              "wdth" 100;
}

a {
    text-decoration: none;
}

/*Navigation Bar*/
header {
    position: relative;
    padding: 1rem 2rem;
    background-color: #223357;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/
.navbar .logo {
    display: block;
}

.navbar .logo a {
    display: flex;
    align-items: center;
}

.navbar .logo a img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.navbar .logo a span {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

#popcorn {
    color: #fbd434;
}

#mania {
    color: #ea2a52;
}

/*menu links*/
.navbar .menu-list {
    display: flex;
    gap: 2.5rem;
    color: white;
}

.navbar .menu-list li a {
    color: white;
    font-size: 1.25rem;
}

.navbar .menu-list li a:hover {
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #1d4ed8;
}

/*Add content button*/
.navbar .menu-btn {
    background-color: #ea2a52;
    color: white;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar .menu-btn:hover {
    background-color: white;
    color: black;
}

/*Toggle menu button*/
.navbar .toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Responsive Design*/
/*Menu*/
.navbar .responsive-menu {
    position: fixed;
    top: 132px;
    right:0;
    height: 100vh;
    width: 300px;
    z-index: 5;
    background-color: rgba(34, 51, 87, 0.5);
    backdrop-filter: blur(33px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    display: none;
}

.navbar .responsive-menu ul {
    display: flex;
    flex-direction: column;
}

.navbar .responsive-menu li {
    padding-bottom: 2rem;
}

.navbar .responsive-menu .menu-btn {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.navbar .responsive-menu.open {
    display: flex;
}

@media only screen and (max-width: 882px) {
    .navbar .menu-list,
    .navbar .menu-btn {
        display: none;
    }
    .navbar .toggle-btn {
        display: block;
    }
}

@media only screen and (max-width: 515px) {
    .navbar .responsive-menu {
        width: 100%;
    }
}

@media only screen and (min-width: 883px) {
    .navbar .responsive-menu.open {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .navbar .logo a img {
        width: 50px;
        height: 50px;
    }
    .navbar .logo a span {
        font-size: 1.75rem;
    }
    .navbar .logo a {
        padding-right: 1rem;
    }
    .navbar .responsive-menu {
        top: 82px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 514px) {
    .navbar .logo a img {
        width: 80px;
        height: 80px;
    }
    .navbar .logo a span {
        font-size: 2.25rem;
    }
    .navbar .logo a {
        padding-right: 1rem;
    }
    .navbar .responsive-menu {
        top: 112px;
    }
}
/*Navigation Bar design end*/